.button {
  width: 190px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0BAF4F;
  box-shadow: 0px 20px 40px #0B1A73;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: white;
}