
.button {
  width: 190px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background: #0BAF4F;
  box-shadow: 0px 20px 40px #0B1A73;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: white;
  &--arrow_down {
    width: 25px;
    height: 25px;
    background-color: #FF6700;
    color: white;
    justify-self: flex-end;
    margin-right: 13px;
    background-image: url('../../../assets/keyboard_arrow_down_white_24x24.png');
    background-size: contain;
    box-shadow: none
  }
  &--data_picker{
    width: 25px;
    height: 25px;
    background-color: #FF6700;
    color: white;
    justify-self: flex-end;
    margin-right: 8px;
    background-image: url('../../../assets/calendar.png');
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
    box-shadow: none;
  }
}

